@font-face {
    font-family: digital7;
    src: url(digital-7.regular.ttf);
}

#calculator{
    border: solid black 1px;
    width: 450px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    padding: 12px 24px 24px 24px;
    border-radius: 5%;
}

#brand {
    color: white;
    font-size: 18px;
    margin: 6px 0 6px 8px;
    font-family: Orbitron;
}

#screen{
    display: flex;
    flex: 2 1 0;
    font-size: 110px;
    margin: 6px 4px 6px 4px;
    border-radius: 10%;
    background-color: #504e1e;
    color: black;
    text-align: right;
    height: 150px;
    min-width: 0;
    font-family: digital7;
}

.line{
    display: flex;
    flex: 1 1 0;
}

.sign{
    display: flex;
    flex: 1 1 0;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    background-color: #f69906;
    color: white;
    font-size: 30px;
    font-family: Orbitron;
}

.equals{
    display: flex;
    flex: 1 1 0;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    background-color: #f69906;
    color: white;
    font-size: 30px;
    font-family: Orbitron;
}

.other{
    display: flex;
    flex: 1 1 0;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    background-color: #9f9f9f;
    font-size: 30px;
    font-family: Orbitron;
}

.number{
    display: flex;
    flex: 1 1 0;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Orbitron;
}